<template>
  <div>
    <h1>Network issues</h1>
    <h3>Please try again</h3>
    <router-link :to="{ name: 'event-list'}" rel="home">
      Go home
    </router-link>

  </div>
</template>

<script>
export default {
  name: "some_name",
}
</script>

<style scoped>

</style>

